*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
.classpath
*.txt
.settings
.project
project.properties
ic_launcher-web.png
*.DS_Store
*.idea
*.properties
*.gradle
*.log